<!DOCTYPE html>
<html>

<head>
    <title>
        <%=pagetitle%>
    </title>

</head>

<body bgcolor="aeuh">
    <h1 align="middle">add course </h1>
    <br>
    <form action="/admin/addpakage" method="post">

        <input type="text" name="namepakage" id="namepakage" placeholder="select namepakage">
        <br>
        <input type="text" name="teacherpakage" id="teacher-pakage" placeholder="select teacher-pakage">
        <br>
        <input type="text" name="price" id="price" placeholder="select price">

        <button type="submit">send</button>


        <br>

    </form>
</body>

</html>