<!DOCTYPE html>
<html>

<head>
    <title>
        <%= pagetitle %>
    </title>

</head>

<body bgcolor="aeuh">
    <form>
        <h1 align="middle">welcome
            <%= user %>
        </h1>
        <br>

    </form>
</body>

</html>