<!DOCTYPE html>
<html>


<head>
    <title>

        <%= pagetitle %>
    </title>

</head>

<body bgcolor="aqua">
    <form action="/login" method="post">
        <h1 align="middle">ورود/login </h1>
        <br>
        <input type="text" name="namekarbary" id="namekarbary" placeholder="select namekarbary">
        <br>
        <input type="text" name="password" id="password" placeholder="select password">

        <br>
        <select name="type">

            <option>teacher</option>
            <option>student</option>

        </select>
        <br>
        <button type="submit">send</button>

    </form>
</body>

</html>