<!DOCTYPE html>
<html>

<head>
    <title>
        ddd
    </title>

</head>

<body bgcolor="aeuh">
    <form>
        <h1 align="middle">select course

        </h1>
        <br>

    </form>
</body>

</html>