<!DOCTYPE html>
<html>

<head>
    <title> ورود </title>
</head>

<body bgcolor="aqua">
    <form action="/signup" method="post">

        <h1 align="middle"> regester </h1>

        <input type="text" name="name" id="name" placeholder="select name">
        <br>
        <input type="text" name="namekarbary" id="namekarbary" placeholder="select namekarbary">
        <br>
        <input type="text" name="password" id="password" placeholder="select password">
        <button type="submit">send </button>

    </form>

</body>

</html>